DATABASE_URL="postgresql://username:password@localhost:5432/dataflow"

REDIS_HOST=localhost
REDIS_PORT=6379
PORT=3333
NODE_ENV=development

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI_CALLBACK=http://localhost:3000/api/auth/google/callback

AUTH_REDIRECT_URL=http://localhost:3000
LOG_LEVEL=info