# dependencies
node_modules

# env
.env

# logs
*.log
logs

# turborepo
.turbo

# builds
dist
build
.out

# prisma generated client
packages/database/generated

# OS
.DS_Store
Thumbs.db

# temp
*.tmp
*.swp